<a href="https://colab.research.google.com/github/Smart-Pigs/Depth-Images/blob/main/Dataset_Preproc_SQUARE%2BJPG%2BMAPPING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Mount Google Drive 
from google.colab import drive
drive.mount('/content/gdrive',force_remount=True)

Mounted at /content/gdrive

### Padded Square Image and JPEG Conversion

In [ ]:
!cp /content/gdrive/MyDrive/DEPTH_INDIVIDUAL/WEEK1-2.zip .

In [ ]:
!cp /content/gdrive/MyDrive/DEPTH_INDIVIDUAL/WEEK3-4.zip .

In [ ]:
!cp /content/gdrive/MyDrive/DEPTH_INDIVIDUAL/WEEK5-6.zip .

In [ ]:
!cp /content/gdrive/MyDrive/DEPTH_INDIVIDUAL/WEEK7-8.zip .

In [ ]:
!cp /content/gdrive/MyDrive/DEPTH_INDIVIDUAL/WEEK9-10.zip .

In [ ]:
!unzip WEEK1-2.zip -d .

In [ ]:
!unzip WEEK3-4.zip -d .

In [ ]:
!unzip WEEK5-6.zip -d .

In [ ]:
!unzip WEEK7-8.zip -d .

In [ ]:
!unzip WEEK9-10.zip -d .

In [ ]:
import cv2
from tqdm import tqdm
from google.colab.patches import cv2_imshow
import os
from glob import glob

def add_border(img):
  h,w=img.shape[:2]
  border = cv2.copyMakeBorder(img,280,280,0,0,cv2.BORDER_CONSTANT, value=[0,0,0])
  return border

for PATH in ['Week1','Week2','Week3','Week4','Week5','Week6','Week7','Week8','Week9','Week10']:
    print(PATH)
    result = [y for x in os.walk(PATH) for y in glob(os.path.join(x[0], '*.png'))]
    for img in tqdm(result):
      image = cv2.imread(img)
      os.remove(img)
      image = add_border(image)
      cv2.imwrite(img.replace("png","jpg"),image)

Week9

100%|██████████| 12183/12183 [15:57<00:00, 12.72it/s]

Week10

100%|██████████| 13745/13745 [17:52<00:00, 12.82it/s]

In [ ]:
!zip -r SQUARE_WEEK1-2.zip Week1 Week2

In [ ]:
!zip -r SQUARE_WEEK3-4.zip Week3 Week4

In [ ]:
!zip -r SQUARE_WEEK5-6.zip Week5 Week6

In [ ]:
!zip -r SQUARE_WEEK7-8.zip Week7 Week8

In [ ]:
!zip -r SQUARE_WEEK9-10.zip Week9 Week10

In [ ]:
!mv SQUARE_WEEK1-2.zip /content/gdrive/MyDrive/DEPTH_INDIVIDUAL/

In [ ]:
!mv SQUARE_WEEK3-4.zip /content/gdrive/MyDrive/DEPTH_INDIVIDUAL/

In [ ]:
!mv SQUARE_WEEK5-6.zip /content/gdrive/MyDrive/DEPTH_INDIVIDUAL/

In [ ]:
!mv SQUARE_WEEK7-8.zip /content/gdrive/MyDrive/DEPTH_INDIVIDUAL/

In [ ]:
!mv SQUARE_WEEK9-10.zip /content/gdrive/MyDrive/DEPTH_INDIVIDUAL/

### CSV Generation

In [ ]:
import pandas as pd

In [ ]:
weights_map = pd.read_csv("/content/gdrive/MyDrive/Morota-video-data/weights-map.csv")

In [ ]:
weights_map

        Date    ID  Weight (kg)  No. of images  Week
0   20210922  3342         16.5            613     1
1   20210922  3330         15.5            400     1
2   20211002  3342         21.1           1621     2
3   20211002  3330         19.5           1130     2
4   20211003  3342         22.7           2239     2
..       ...   ...          ...            ...   ...
82  20211118  3385         30.8           1181    10
83  20211119  3385         30.9           1150    10
84  20211119  3384         31.8           1128    10
85  20211119  3342         56.6           1153    10
86  20211119  3330         55.5           1120    10

[87 rows x 5 columns]

In [ ]:
weights_map = weights_map.rename(columns={"Weight (kg)": "weight","ID": "Pig"})

In [ ]:
weights_map['Pig'] = weights_map['Pig'].astype(str)
weights_map['Date'] = weights_map['Date'].astype(str)
weights_map['Week'] = weights_map['Week'].astype(str)

In [ ]:
weights_map

        Date   Pig  weight  No. of images Week
0   20210922  3342    16.5            613    1
1   20210922  3330    15.5            400    1
2   20211002  3342    21.1           1621    2
3   20211002  3330    19.5           1130    2
4   20211003  3342    22.7           2239    2
..       ...   ...     ...            ...  ...
82  20211118  3385    30.8           1181   10
83  20211119  3385    30.9           1150   10
84  20211119  3384    31.8           1128   10
85  20211119  3342    56.6           1153   10
86  20211119  3330    55.5           1120   10

[87 rows x 5 columns]

In [ ]:
FOLDERS = ['Week1','Week2','Week3','Week4','Week5','Week6','Week7','Week8', 'Week9', 'Week10']
PATHS = []
for folder in FOLDERS:
   path = [y for x in os.walk(folder) for y in glob(os.path.join(x[0], '*.jpg'))]
   PATHS.extend(path)

In [ ]:
len(PATHS)

105510

In [ ]:
df_weeks = pd.DataFrame(PATHS, columns = ['image_path'])

In [ ]:
df_weeks.to_csv('all_weeks_paths.csv')

In [ ]:
df_weeks['image_path'].str.split("/",expand=True)

             0         1                2                3
0        Week1  20210922  20210922_3330_b  _Depth_4683.jpg
1        Week1  20210922  20210922_3330_b  _Depth_4778.jpg
2        Week1  20210922  20210922_3330_b  _Depth_4579.jpg
3        Week1  20210922  20210922_3330_b  _Depth_4578.jpg
4        Week1  20210922  20210922_3330_b  _Depth_4584.jpg
...        ...       ...              ...              ...
105505  Week10  20211119    20211119_3342  _Depth_3504.jpg
105506  Week10  20211119    20211119_3342  _Depth_3318.jpg
105507  Week10  20211119    20211119_3342  _Depth_3476.jpg
105508  Week10  20211119    20211119_3342  _Depth_3169.jpg
105509  Week10  20211119    20211119_3342  _Depth_3022.jpg

[105510 rows x 4 columns]

In [ ]:
df_weeks_split = df_weeks['image_path'].str.split("/",expand=True)

In [ ]:
df_weeks_pig_split=df_weeks_split[2].str.split("_",expand=True)

In [ ]:
df_weeks['Week']=df_weeks_split[0].str.replace("Week","")

In [ ]:
df_weeks['Date']=df_weeks_split[1]

In [ ]:
df_weeks['Pig']=df_weeks_pig_split[1]

In [ ]:
df_weeks['Pig']=df_weeks['Pig'].str.replace('a','')
df_weeks['Pig']=df_weeks['Pig'].str.replace('b','')

In [ ]:
result_df = pd.merge(df_weeks, weights_map, how='inner', on=['Date', 'Pig', 'Week'])[['image_path', 'Date', 'Pig', 'weight', 'Week']]

In [ ]:
result_df

,image_path,Date,Pig,weight,Week
0,Week1/20210922/20210922_3330_b/_Depth_4683.jpg,20210922,3330,15.5,1
1,Week1/20210922/20210922_3330_b/_Depth_4778.jpg,20210922,3330,15.5,1
2,Week1/20210922/20210922_3330_b/_Depth_4579.jpg,20210922,3330,15.5,1
3,Week1/20210922/20210922_3330_b/_Depth_4578.jpg,20210922,3330,15.5,1
4,Week1/20210922/20210922_3330_b/_Depth_4584.jpg,20210922,3330,15.5,1
...,...,...,...,...,...
96220,Week10/20211119/20211119_3342/_Depth_3504.jpg,20211119,3342,56.6,10
96221,Week10/20211119/20211119_3342/_Depth_3318.jpg,20211119,3342,56.6,10
96222,Week10/20211119/20211119_3342/_Depth_3476.jpg,20211119,3342,56.6,10
96223,Week10/20211119/20211119_3342/_Depth_3169.jpg,20211119,3342,56.6,10
96224,Week10/20211119/20211119_3342/_Depth_3022.jpg,20211119,3342,56.6,10

In [ ]:
result_df[['weight','Pig']].groupby('Pig').count()

      weight
Pig
3330   26657
3342   32522
3384   18354
3385   18692

In [ ]:
result_df[['weight','Date']].groupby('Date').count()

          weight
Date
20210922    1013
20211002    2751
20211003    3022
20211004     826
20211005    2045
20211006    3551
20211007    3025
20211008    2338
20211011    2306
20211012    2748
20211013    4939
20211015    4603
20211018    4572
20211020    4869
20211026    4486
20211027    4582
20211029    4522
20211101    4541
20211103    5457
20211105    4101
20211108    3878
20211111    3947
20211112    4358
20211116    4669
20211118    4525
20211119    4551

In [ ]:
output = result_df[['weight','Pig']].groupby('weight').count()

In [ ]:
print(output.to_markdown())

|   weight |   Pig |
|---------:|------:|
|     15.5 |   400 |
|     16.5 |   613 |
|     17.4 |   946 |
|     17.5 |  1129 |
|     18.2 |  1142 |
|     19.1 |  1132 |
|     19.3 |  2756 |
|     19.5 |  1130 |
|     19.9 |  1110 |
|     20.4 |  1129 |
|     21   |  2757 |
|     21.1 |  1621 |
|     21.2 |   783 |
|     21.6 |  1191 |
|     22   |  1138 |
|     22.1 |   839 |
|     22.2 |  1063 |
|     22.7 |  2239 |
|     22.8 |  1170 |
|     22.9 |  1129 |
|     23.2 |  2780 |
|     23.5 |   759 |
|     23.8 |  1175 |
|     23.9 |  1206 |
|     24.2 |  1145 |
|     24.6 |  1075 |
|     24.9 |  3192 |
|     25.1 |  3248 |
|     25.8 |  1127 |
|     26.2 |  1281 |
|     26.4 |  2146 |
|     27   |  1197 |
|     27.1 |   996 |
|     27.5 |  1070 |
|     28.2 |  3645 |
|     28.3 |  2495 |
|     28.8 |  1132 |
|     28.9 |  1183 |
|     29.1 |  1053 |
|     29.4 |  1271 |
|     29.9 |  1240 |
|     30.5 |  2362 |
|     30.8 |  1181 |
|     30.9 |  1150 |
|     31.2 |  1112 |
|     31.3 |  1161 |
|     31.8 |  1128 |
|     31.9 |  1175 |
|     34.1 |  1190 |
|     34.5 |  1127 |
|     35.4 |  1165 |
|     36.4 |  1123 |
|     37.4 |  1128 |
|     37.5 |  1130 |
|     39.9 |  1109 |
|     40.5 |  1118 |
|     41.9 |  1126 |
|     42.3 |  1126 |
|     43   |  1013 |
|     44   |  1190 |
|     44.6 |   881 |
|     46.4 |   971 |
|     46.6 |   978 |
|     47.3 |   941 |
|     47.4 |   946 |
|     47.6 |  1102 |
|     49.2 |   957 |
|     51.2 |  1150 |
|     52.5 |  1210 |
|     54.6 |   987 |
|     55.5 |  1120 |
|     55.7 |  1182 |
|     56.6 |  1153 |

In [ ]:
result_df.to_csv('final_mapping.csv')

In [ ]:
!mv final_mapping.csv /content/gdrive/MyDrive/Morota-video-data/

In [ ]:
!mv all_weeks_paths.csv /content/gdrive/MyDrive/Morota-video-data/